{% extends "layout.html" %}

{% block title %}Checkout - Login{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Registered Customers</h4>
                    <p>If you have an account with us, please log in.</p>
                    <form method="POST" action="{{ url_for('login', next=url_for('checkout_bp.shipping_address')) }}">
                        <div class="form-group">
                            <label for="email">Email Address <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="password">Password <span class="text-danger">*</span></label>
                            <a href="#" class="float-end">Forgot Your Password?</a>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Create a new account</h4>
                    <p>After creating an account on our website, you will be able to:</p>
                    <ul>
                        <li>Save your shopping cart</li>
                        <li>Complete your purchase faster</li>
                        <li>Track your orders</li>
                    </ul>
                    <a href="{{ url_for('signup') }}" class="btn btn-secondary mt-4">Create an Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
